(
    version: 2,
    default_relation: Unknown,
    factions: [
        (
            id: 0,
            name: "Expédition Aster",
            kind: Player,
            active: true,
        ),
        (
            id: 1,
            name: "Communes des Confins",
            kind: Neutral,
            active: false,
        ),
        (
            id: 2,
            name: "Directoire Vesper",
            kind: FutureAi,
            active: false,
        ),
    ],
    relations: [
        (
            first: 0,
            second: 1,
            relation: Neutral,
        ),
        (
            first: 0,
            second: 2,
            relation: Hostile,
        ),
    ],
)
